.gift-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.gift-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

/* 投稿表示 */

.gift-info-date {
  font-size: 14px;
}

.gift-img {
  height: 100px;
  width: 120px;
  margin: 12px 12px 0 12px;
}

.gift-paper {
  height: 210px;
  width: 160px;
  background-color: bisque;
  padding:10px;
  box-shadow: 5px 5px 10px rgb(233, 209, 176);
}

.gift-info {
  font-weight: 650;
  text-align: center;
}

.gift-info-btn {
  height: 25px;
  width: 120px;
  background-color: aqua;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  line-height: 1.8;
}