<div class="side-whole">
  Sidebar
  <div class="mypage">
    <%= current_user.nickname %>さん
  </div>
  <div class="">
    <div class="">
      <%= link_to "贈った物", "#", class: "post" %>
    </div>
    <div class="">
      <%= link_to "いただいた物", "#", class: "post" %>
    </div>
  </div>
  <div class="logout-box">
    <div class="logout-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>