<div class="side-whole">
  <div class="myname">
    <h2><span></span> <div class="name-space"><%= current_user.nickname %></div><p class="san">さん</p></h2>
  </div>
  <div class="husen-board">
      <div class="menu-husen">
        <a href="/gave_gifts" class="btn btn-flat btn-a"><span>贈った物</span></a>
      </div>
      <div class="menu-husen">
        <a href="/gave_gifts/new" class="btn btn-flat btn-a"><span>記録する</span></a>
      </div>
      <div class="menu-husen">
        <a href="/received_gifts" class="btn btn-flat btn-b"><span>いただいた物</span></a>
      </div>
      <div class="menu-husen">
        <a href="/received_gifts/new" class="btn btn-flat btn-b"><span>記録する</span></a>
      </div>
      <div class="menu-husen">
        <a href="/recommend_gifts" class="btn btn-flat btn-c"><span>おすすめギフト</span></a>
      </div>
      <div class="logout-btn">
        <%= link_to "ログアウト", destroy_user_session_path, class:"btn btn--logout", method: :delete %>
      </div>
  </div>
</div>