<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

<div class="index-whole">
  <span class="form-title-r">いただいた物の記録</h3></span>

    <% @received_gifts.each do |received_gift| %>
      <div class="received_gifts">
        <div class="received_gift">
    
        </div>
      </div>
    <% end %>

</div>

<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>