.index-whole {
  height: 75vh;
  margin: 20px 0 20px 30px;
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%; 

}

/* 見出し */

.form-title-c {
  height: 40px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #e2c984;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

/* 投稿表示 */

.recommend-paper {
  height: 150px;
  width: 550px;
  color: #333;
  background-color: #fffaf0;
  padding:10px;
  box-shadow: 3px 3px 5px rgb(233, 209, 176);
}

.recommend-content {
  display: flex;
}

.r-list {
  margin-bottom: 20px;
}

.recommend-img {
  height: 100px;
  width: 120px;
  margin: 12px 12px 0 12px;
}

.recommend-table {
  height: 100px;
  width: 500px;
  margin: 20px 0 0 20px;
}

.detail-point {
  font-weight: 600;
}

.deco-icon-c {
  color: #e2c984;
}

.gift-info-c {
  margin: 10px;
}

.gift-info-box {
  margin: 10px;
}

