/* メインコンテンツの配置と背景 */

.content-whole {
  display: flex;
  background-color: #ffc0cb;
}

.index-whole {
  height: 75vh;
  margin: 20px;
  padding: 20px;
  overflow: auto;
  background-color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%; 
  overflow: auto;
}