<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<%# サイドバーとメインバー %>
<div class="content-whole">
<%= render "shared/side_ber"%>
<%= render "shared/main" %>
</div>
<%# サイドバーとメインバー %>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>