<%# ヘッダー %>
<%= render "shared/header" %>
<%# ヘッダー %>

<div class="content-whole">
<%# サイドバー %>
<%= render "shared/side_ber"%>
<%# サイドバー %>

<%# メインバー %>

贈った物一覧ページ

<% @gave_gifts.each do |gave_gift| %>
  <div class="gave_gifts">
    <div class="gave_gift">
    
    </div>
  </div>
<% end %>
<%# メインバー %>
</div>

<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>